
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;1,300;1,500&display=swap');
*{
    box-sizing: border-box;
}


.movies-list-action{
    font-size: 2.5rem; 
    color:#fff;
    line-height: 1;
}
