
/*
 COLORI
 */
.c-white {
    color: #fff;
}

.c-light-blue {
    color: #00aff0;
}

.c-black {
    color: #000;
}

/*
    BACKGROUNDS
*/
.bg-transparent {
    background-color: transparent;
}

.bg-light-blue {
    background-color: #00adef;
}

.bg-dark-blue {
    background-color: #01011b;
}

.bg-light-purple {
    background-color: #a541e1;
}

.bg-dark-purple {
    background-color: #320268;
}

.bg-light-green {
    background-color: #45e9d0;
}

.bg-dark-green {
    background-color: #015b51;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}